{% extends 'base.html' %}
{% load static %}

{% block title %}
Awarding points
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">Scoreboard</li>
<li class="breadcrumb-item active">Awarding Points</li>
{% endblock%}

{% block content %}
<div class="container-fluid">
  <form id="myForm" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <table border="1" cellpadding="1" cellspacing="0">
        <tbody>
            {% for form in points.forms %}
            <tr>
               <td>{{ form.field1 }}</td>
               <td>{{ form.field2 }}</td>
               <td>{{ form.field3 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ points.management_form }}

    <button type="submit" class="btn btn-success">Submit</button>
  </form>

</div>
<script src="{% static 'js/jquery.formset.js' %}"></script>


<script type="text/javascript">
    $(function() {
        $('#myForm tbody tr').formset();
    })
</script>
{% endblock %}

{% block script %}


{% endblock %}
